body {
    background-color: antiquewhite;
    text-align: center;
}

nav p {
    color: green;
    font-size: 20px;
    text-transform: uppercase;
}

.title {
    color: brown;
    margin: 2.5rem;
}

